@font-face {
  font-family: 'Anja Elaine Web';
  src: url('../assets/fonts/base/anja_eliane_accent002.woff2') format('woff2');
  font-weight: $font-weight-ultra;
  font-style: normal;
}

@font-face {
  font-family: 'Champagne and Limousines Web';
  src: url('../assets/fonts/base/champagne__limousines.woff2') format('woff2');
  font-weight: $font-weight-regular;
  font-style: normal;
}

@font-face {
  font-family: 'Champagne and Limousines Web';
  src: url('../assets/fonts/base/champagne__limousines_bold.woff2') format('woff2');
  font-weight: $font-weight-heavy;
  font-style: normal;
}
