$background-colour: #ad8adf !default;
$background-colour-highlight: #d79cd8 !default;
$background-text: #fff !default;
$highlight-colour: #a3d9d9 !default;
$highlight-colour-text: #fff !default;

$overlay-width: 1280px !default;
$overlay-height: 720px !default;
$overlay-video-width: 82% !default;

$font-size: 20px !default;
$line-height: 1 !default;

$font-weight-light: 300 !default;
$font-weight-regular: 500 !default;
$font-weight-heavy: 700 !default;
$font-weight-ultra: 900 !default;

$header-font-family: 'Anja Elaine Web', sans-serif !default;
$header-letter-spacing: 0.03em !default;
$header-line-height: 0.85 !default;

$body-font-family: 'Champagne and Limousines Web', sans-serif !default;
$body-letter-spacing: 0.015em !default;
