.c-chat {
  max-height: 100%;
}

.c-chat__wrapper {
  padding: 1em;
}

.c-chat-item {
  margin: 0 auto 0.6em;
  animation: message-popin 0.5s ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 0.05s;
  animation-fill-mode: both;

  word-break: break-word;
}

@keyframes message-popin {
  0% {
    opacity: 0;
    transform: translateY(1em);
  }

  67% {
    transform: translateY(-0.24em);
  }

  85% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
