@import 'layout/settings';

@import 'layout/base';

@font-face {
  font-family: 'Bloodstained';
  src: url('../assets/fonts/bloodstained/title-bold.otf');
  font-weight: $font-weight-ultra;
  font-style: normal;
}

@font-face {
  font-family: 'Bloodstained';
  src: url('../assets/fonts/bloodstained/title-medium.otf');
  font-weight: $font-weight-regular;
  font-style: normal;
}

@font-face {
  font-family: 'Bloodstained';
  src: url('../assets/fonts/bloodstained/title-demibold.otf');
  font-weight: $font-weight-heavy;
  font-style: normal;
}

body {
  color: #fff;
  font-family: 'Bloodstained';
}

.c-player-scene__background {
  background: #000;
}

.c-social-status {
  position: absolute;
  bottom: -0.1em;
  left: 0.3em;
}

.c-social-status__background {
  height: 5.3em;
}

.c-brb-scene {
}

.c-brb-scene__background {
  background: url('../assets/themes/bloodstained/brb.jpg');
  background-size: cover;
}

.c-logo {
  width: 60%;
}

.c-dani {
  position: absolute;
  top: -5%;
  right: 5%;
  height: 110%;
}

.c-petals {
  position: absolute;
  top: 0;
  right: 0;
  height: 400%;
  width: 400%;
}

.c-petals__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  animation-name: float;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 100% 50%;

  &--back {
    background-image: url('../assets/themes/bloodstained/petals-back.png');
    animation-duration: 600s;
  }

  &--middle {
    background-image: url('../assets/themes/bloodstained/petals-middle.png');
    background-position: -25%;
    animation-duration: 400s;
  }

  &--front {
    background-image: url('../assets/themes/bloodstained/petals-front.png');
    background-position: 12.5%;
    animation-duration: 200s;
  }
}

@keyframes float {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-50%) translateX(50%);
  }
}

.c-chat__wrapper {
  padding: 1em 0 0.5em 0.5em;
}

.c-chat-item {
  font-size: 16px;
  margin: 0 auto 1em;
}

.c-chat-message__user {
  position: relative;
  z-index: 2;

  background: url('../assets/themes/bloodstained/nameplate.png') no-repeat;
  background-size: auto 100%;

  line-height: 2em;
  white-space: nowrap;
  padding: 0 1.5em;
  margin: 0 -1.5em -6px -1em;
}

.c-chat-message__message {
  background: url('../assets/themes/bloodstained/box-bg.png');
  margin-right: -2px;
  color: #242522;
  border: 2px solid #242522;
  border-radius: 5em 0 0 5em;
  box-shadow: inset 0 0 20px #d3ad69;
  padding: 0.4em;
}

@keyframes message-popin {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }

  85% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}
