@import 'layout/settings';

@font-face {
  font-family: 'Final Fontasy';
  src: url('../assets/fonts/ff7/final-fontasy.otf');
  font-weight: $font-weight-regular;
  font-style: normal;
}

@font-face {
  font-family: 'Final Fontasy Pixels';
  src: url('../assets/fonts/ff7/final-fontasy-pixels.ttf');
  font-weight: $font-weight-regular;
  font-style: normal;
}

$body-font-family: 'Final Fontasy', sans-serif;
$retro-font-family: 'Final Fontasy Pixels', sans-serif;

$ui-highlight-colour: #2dc8d4;
$ui-foreground-colour: #084487;
$ui-background-colour: rgba(13, 35, 78, 0.5);
$ui-text-colour: #b7ddff;

$lifestream-bright: #cefffd;
$lifestream-dull: #7ee6c0;
$lifestream-dark: #010a05;
$lifestream-glow: #1f463d;

@import 'layout/base';

body {
  color: #fff;
}

.c-player-scene__background {
  background: $lifestream-dark;
}

.c-mako {
  height: 100%;
  width: 100%;
}

.c-mako__particles {
  height: 100%;
  width: 100%;
  filter: blur(3px) saturate(1.5);
}

.c-chat {
  height: 100%;
  transform: perspective(600px) rotateY(-7deg) skewY(-1deg);
  transform-origin: 0 50%;
}

.c-chat__wrapper {
  padding: 1.5em 1.15em 1em 0.7em;
}

.c-chat-item {
  animation-name: ff7-message-popin;
  font-size: 0.9em;

  transform: translateZ(0);
}

.c-chat-notification {
  position: relative;

  font-family: $retro-font-family;
  font-size: 1.2em;
  letter-spacing: 0.05em;

  background: #04009d linear-gradient(to bottom, #04009d 0%, #06004d 100%);
  border: solid 1px #424542;
  border-radius: 7px;
  box-shadow: 1px 1px #e7dfe7, -1px -1px #e7dfe7, 1px -1px #e7dfe7, -1px 1px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b,
    0 2px #424542;

  padding: 0.3em 0.5em 0.4em;
  color: #fff;
  text-shadow: 2px 2px #212421, 1px 1px #212021;

  &::before {
    position: absolute;
    content: '';
    width: 48px;
    height: 24px;
    left: -32px;
    top: 0.6em;
    background: url('../assets/themes/ff7/cursor.png') no-repeat;
    background-size: contain;
  }
}

.c-chat-message {
  background: $ui-background-colour;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 0.125em solid $ui-highlight-colour;
  box-shadow: inset -0.25em 0 1em transparentize($ui-foreground-colour, 0.6);
}

.c-chat-message__user {
  background: linear-gradient(to right, $ui-foreground-colour, transparent 65%);
  color: $ui-text-colour;
  padding: 0.25em 0.5em;
  text-shadow: 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.35);
}

.c-chat-message__message {
  padding: 0.5em;
}

@keyframes ff7-message-popin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.c-social-account {
  background: $ui-background-colour;
  border: 1px solid $ui-foreground-colour;
  border-right-width: 0;
  margin-top: 1px;
}

.c-social-account__icon-wrapper {
  background: $ui-foreground-colour;
}

.c-social-account__icon {
  margin: 0;
  vertical-align: -4px;
}

.c-social-account__icon-wrapper,
.c-social-account__name {
  padding: 0.35em 0.5em;
}

.c-social-account__name {
  font-size: 0.9em;
}

.c-brb-scene__message {
  top: 70%;
  left: 3em;
  bottom: 3em;
  right: 60%;
}

.c-dialog {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: #d7d8d8;
  font-size: 1.5em;
}

.c-dialog__divider {
  height: 2px;
  margin: 0.25em 0 0.5em;
  background: linear-gradient(90deg, currentColor 0, transparent);
  width: 25%;
}

.c-dialog__nameplate {
}

.c-dialog__message {
  text-align: center;
}
