.c-player-scene {
}

.c-player-scene__body {
  z-index: 3;
  width: $overlay-video-width;
}

.c-player-scene__sidebar {
  z-index: 4;
  right: 0;
  left: auto;
  width: 100% - $overlay-video-width;
}

.c-player {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.c-player__spacer {
  flex-grow: 1;
  flex-basis: 1em;
  padding: 0 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.c-player__video {
  flex-grow: 0;
  flex-shrink: 0;
}
